.DS_Store
__pycache__
.pytest_cache
.vscode
.ipynb_checkpoints

checkpoints
resources/images/torch/
resources/images/cifar10_torch/
resources/models/onnx/vnn21
evaluation/benchmark_results/
*logs/

.idea
*tmp*